body {
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;

}

a {
  color: white;
}

container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.codedata {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.games {
  position: absolute;
  width: 1px;
  right: 768px;
}

@media (max-width: 1170px) {
  container {
    width: 100%;
    padding: 20px;
  }

  .games {
    position: static;
  }
}
